body {
    background-color: black;
    color: white;
}
input {
    background-color: rgb(174, 174, 174);
    border: 2px solid cyan;
    width: 40px;
}
a {
    color: red;
}
p{
    color: darkgray;
}
video {
    max-width: 75vw;
    border: 1px solid white;
    visibility: hidden;
}